* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.9375rem;
  /* This is 15px w/ a presummed default size of 16px from the browser.*/
}

/*
========================
 + HEADER + 
========================
*/

header * {
  text-align: center;
  margin: .5em 2em;
}

header>h1 {
  color: var(--VeryDarkMagenta);
}

header>p {
  color: var(--DarkGrayishMagenta);
  line-height: 1.5;
  font-weight: 500;
}


/* Rating Blocks */
.rating-container {
  margin: 2em 0 3em 0;
}

.rating {
  text-align: center;
  border-radius: 10px;
  background: var(--LightGrayishMagenta);
  padding: 1.1em 0;
  width: 90%;
  margin: 1em auto;
}

.rating p {
  margin-top: .5em;
  color: var(--VeryDarkMagenta);
  font-weight: 700;
}

/* Review Cards */



.review {
  border-radius: 10px;
  background: var(--VeryDarkMagenta);
  width: 90%;
  margin: 1em auto;
  color: var(--White);
  font-weight: 500;
  padding: 2em;
}

.review-user {
  display: flex;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.review-user>ul {
  margin-left: 1em;
  list-style: none;
  line-height: 1.3;
}

.reviewer-name {
  font-weight: 700;
}

.reviewer-purchase-status {
  color: var(--SoftPink);
}

.review>p {
  line-height: 1.5;
  margin-top: 1.5em;
}

/* End of styles */